@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body{
    font-family:'Playfair Display' ,sans-serif ;
    margin: 0;
}
h2{
    font-size: 22px;
}
.desc{
    font-size: 16px;
}

.header{
    width: 100%;
    background-color: #fff;
    
}

.header-menu{
    margin: auto;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    
    padding: 20px;
}
.logo-header{
    font-size: 26px;
    font-weight: bold;
}
.logo-header a{
    text-decoration: none;
    color: #000;
}
.active{
    color: #CE8770;
}
nav ul a:hover{
    color: #CE8770;
}
nav ul a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;

}
nav ul ,li{
    list-style-type: none;
    font-size: 15px;
}
nav ul{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.header-icon-page{

    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.icon-social{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;

    margin-left: 5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;

    cursor: pointer;
}
.icon-social img{
    width: 20px;
    height: 20px;
}

.header-banners img:first-child{
    margin-left: 0px;
}

.header-banners{
    display: flex;
}

.header-banners img{
    display: flex;
}
.img1{
    background-image: url('https://static.wixstatic.com/media/84770f_579889e3c7ab4551ac493b6e60ebc25a~mv2.jpg/v1/fill/w_388,h_640,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/84770f_579889e3c7ab4551ac493b6e60ebc25a~mv2.jpg');
    height: 640px;
    width: 440px;
    background-position: cover;
}
.img2{
    background-image: url('https://static.wixstatic.com/media/75059a_a28bb23346c740cfa809bb26a81ce414~mv2.jpg/v1/fill/w_473,h_640,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/75059a_a28bb23346c740cfa809bb26a81ce414~mv2.jpg');
    height: 640px;
    width: 440px;
    background-position: cover;
    margin-left: 10px;
}
.img3{
    background-image: url('https://static.wixstatic.com/media/84770f_c8617aa06c6e43f5a95ebf63003a2347~mv2.jpg/v1/fill/w_473,h_640,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/84770f_c8617aa06c6e43f5a95ebf63003a2347~mv2.jpg');
    height: 640px;
    width: 473px;
    background-position: cover;
    margin-left: 10px;
}
.title-my{
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    text-align: center;
    padding: 15px 50px 15px 50px;
    margin-top: -55px;
    background-color: #fff;
    font-size: 47px;
    font-weight: bold;
}
.container-body{
    width: 100%;
}
.container-body-conteu{
    grid-gap: 20px;
    display: grid;
    grid-template-columns: (2, 1fr);
    margin: auto;

    padding: 80px 20px 20px 20px;
    max-width: 1140px;
}
.articles{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: (2, 1fr);
    border: 1px solid #E5E5E5;

    margin-bottom: 20px;
}
.container-aside{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.article-img{
    padding: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    
    background-image: url('../imagens/img1.webp');
    background-size: cover;
    background-position: center;
}
.article-conteudo{
    padding: 20px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.container-aside{
    background-color: #FCF6F5;
}
.container-aside-conteu1{
    padding: 20px ;
    font-size: 40px;
    color: #fff;
    text-align: center;
    background-color: #BB5A3A;
}
form{
    margin-top: 70px;
    
}
input::placeholder{
    color: #fff;
    text-align: left;

}
input{
    background-color: #BB5A3A;
    outline: 0;
    border: 0;
    padding:5px 10px 5px 10px;
}
.input:hover{
    border-bottom: 2px solid #000;
}
.input{
    width: 100%;
    display: inline;
    padding-right:80px;
    margin: auto;
    border-bottom: 2px solid #fff;
}
.button{
    font-size: 18px;
    color: #BD5A46;
    border: 0px;
    padding: 15px 80px 15px 80px;
    background-color: #fff;
}
.button:hover{
    transition: 1s;
    color: #fff;
    background-color: #000;
}

